<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="PACK_NAME" platformBuildVersionCode="30" platformBuildVersionName="11">
    <application android:extractNativeLibs="false" android:label="APP_LABEL"/>
</manifest>
